<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Angular Demo App</a>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1>List Maker</h1>
    </div>
</div>
<div class="container" ng-init="ctrl.init()">
    <div class="row">
        <div class="col-md-4">
            <h2>Lists</h2>
            <ul class="list-unstyled list-view">
                <li ng-repeat="list in ctrl.lists" ng-click="ctrl.selectList(list)" ng-class="{'bg-primary' : ctrl.selectedList === list }">
                    {{list.name}} ({{list.items.length}})
                </li>
            </ul>
            <add-directive add-action="ctrl.addList"></add-directive>
        </div>
        <div class="col-md-8">
            <h2>Details</h2>
            <div class="details-view" ng-show="ctrl.selectedList">
                <ol class="">
                    <li ng-repeat="item in ctrl.selectedList.items">{{item}}</li>
                </ol>
                <add-directive add-action="ctrl.addItem"></add-directive>
            </div>
        </div>
    </div>
</div>
